.frm{
    border: 1in;
    text-align: center;
}
#temp{
    width: 100%;
    border: 1px;
}
body {
    margin:40px;
  }

  * {
    box-sizing: border-box;
  }
  input {
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
  }
  .input {
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
  }
  input:hover {
    border: 1px solid #aaa;
  }
  .data{
      width: 100%;
      font-size: 25px;
  }
  